 body{
 	background-image: url("../images/coolblue.jpg");
 	background-size: cover;
 	color: rgba(5,255,5,1);
 	font-weight: bold;
 	text-align: center;
  	font-family: marlett;
}

 h1 {
 	font-weight: bold;
  	

 

}






